[Unit]
Description = lifetime
After = network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory = /home/ubuntu/lifetime
ExecStart = /usr/bin/gunicorn3 -b 0.0.0.0:9090 app:app --log-level debug

[Install]
WantedBy = multi-user.target