[Unit]
Description = lifetime
After = network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
WorkingDirectory = /home/ubuntu/lifetime
ExecStart = /usr/bin/python3 /home/ubuntu/lifetime/app.py

[Install]
WantedBy = multi-user.target